:root{
    --main-color: pink;
    --sec-color:lightblue;
    --defpad:12px;
    --defborder:2pxsolid blue;

     

}

table{
    color: black;
}
div>p{
    color: blue;
}
div p{
    color: aqua;
}
div{
    color: green;
}
a:visited{
    color:crimson;
}
a:link{
    color: black;
}
*{
    margin: 0%;
    padding: 0;

}
#label{
    color:antiquewhite ;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 678;
    text-decoration:underline;
    text-decoration-color: rgb(255, 102, 0);
    text-transform: uppercase;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif}
    #Krishna{
    
        width: 15vw;
        height: 10vh;
        font-size: 23px;
        background-color: aquamarine;
        margin: auto;
        
        box-shadow: 8px 12px 18px;
        display: inline-block;
        overflow: auto;
        text-overflow: clip;
    }
    .red{
        font-size: 2rem;
        text-shadow: 8px 12px 18px;
     border: 10px solid orange;
     margin: 32px;
    }
    .hot{
        border: var(--defborder);
       display: inline-block;
        margin: 32px ;
        border: 234px;
        color: blueviolet;
        background-color: var(--sec-color);
         font-weight: 8000;
         font-family: 'Times New Roman', Times, serif;

          
    }
    nav ul li{
        list-style:none inside;
        background-color: var(--main-color);
        display:inline ;
    
    
    }
    .box{
        width: 20vw;
        height: 25px;
        border: 5px solid black;
        margin: 4px;
        padding: var(--defpad);
    }
     .bade papa{
        width: 28px;
        height: 50px;
        padding: 14px;
        border: 5px solid green;
        margin: 3px;
    }
    .box1{
        background-color: rosybrown;
        position: relative;
        top: 23px;
        bottom: 10px;
        border-radius: 15px;
    }
    .box2{
        background-color: lightcoral;
        position: relative;
        top: 8px;
    }
    .box3{
        background-color: lightseagreen;
    }
    .box4{
        background-color: lightgoldenrodyellow;
    }
    @media screen and (max-width:455px) {
        body{
         background-color:pink;
        }
        
    }