.container{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: center;
        border: 2px solid black;
        height: 15vh;
        width: 50vw;
        margin: 2px;
        padding: 3px;
        gap: 5px;
        flex-wrap: wrap;

}
    .boxes{
        width: 32px;
        height: 21px;
        background-color: coral;
        border: 2px solid black;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 98px 98px 98px;
        grid-template-rows: 50px 50px;

        border: 2px solid black;
        background-color: lightgrey;
        width: 50vw;

    }
    .grid-item{
        height: 45px;
        width: 50px;
        border: 2px solid black;
    }
    .grid-container-2{
        display: grid;
        grid-template-areas: "nav nav nav"
                              "main main article"
                                "footer footer footer";
        gap: 5px;
        border: 2px solid black;
        background-color: lightgrey;
        width: 100vw;
        grid-template-columns: repeat(3,1fr);

    }
    .grid-item-2{
        border: 2px solid black;
        background-color: lightblue;
        width: 99px;
    }
    